<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/cube/cubeHome::header"></head>
<body>
    <div th:replace="/cube/tabs/linearSpeedZ/linearSpeedZ::layout"></div>

    <div class="col" style="margin-left: 5px; margin-top: 5px">
        <div th:replace="/layout/fragments/FormPropertiesFilter::filter (${propertiesFilter})"></div>
        <div class="row-cols-4 table-responsive" style="overflow:auto; max-height: 500px">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Linear Speed Z</th>
                    <th>Time stamp cube</th>
                    <th>Time stamp base</th>
                </tr>
                </thead>
                <tr th:each="cubeData: ${cubeData}">
                    <th th:text="${cubeData.id}">Id</th>
                    <th th:text="${cubeData.linearSpeedZ}">Linear Speed Z</th>
                    <th th:text="${cubeData.timeStampCube}">Time stamp cube</th>
                    <th th:text="${cubeData.timeStampBase}">Time stamp base</th>
                </tr>
            </table>
        </div>
        <button class="row-cols-1 btn btn-primary" type="button" id="button">Refresh</button>
    </div>

    <block th:replace="/home::scripts"></block>
    <script>
        $('#nav-cube').addClass('active');
        $('#linearSpeedZ').addClass('active');
        $('#table').addClass('active');
    </script>
</body>
</html>